<link rel="stylesheet" href="/navbar.css" />

<nav>
  <ul>
    <div class="element-1">
      <li><a href="/">Home</a></li>
    </div>
    <div class="element-2">
      <li><a href="/find-books">Find books</a></li>
    </div>
    <div class="element-3">
      <li><a href="/login">Login</a></li>
    </div>
    <div class="dropdown">
      Hello username &#9662;
      <div class="dropdown-content">
        <a href="/manage-books">Edit books</a>
        <br />
        <a href="/logout">Log out</a>
      </div>
    </div>
  </ul>
</nav>
